/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
body{
    margin: 0px;
    padding: 0px;
    background-color: #212529 ;
  }
  
  
  /*
  blue-ish green
  #869D96
  */
  
  .w-background{
    background-color: #212529;    
  }
  
  .bi-house-door{
    color: white;
  }
  
  .left_space {
     padding-left: 20px;
     padding-right: 20px;
  }
  
  #navbar a:hover, #navbar i:hover{
    color: #2347fb;
  }
  
  .red{
    color: red;
  }

  .black{
    color: #070913;
  }
  
  h1{
      font-family: 'Josefin Sans', sans-serif;
    }
  
  h2{
    font-family: 'Josefin Sans', sans-serif;
  }
  
  h3{
     font-family: 'Josefin Sans', sans-serif;
     font-size: 20px;
  }
  
  P{
    font-family: 'Poppins', sans-serif;
  }
  
  ul {
     font-family: 'Poppins', sans-serif;
  }
  
  a {
     color: #e5e6f0;
     text-decoration: none;
     display: inline-block;
  }
  
  #hero-section{
    background-image: 
      url(images/main_background_new.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20%;
    color: #e5e6f0;
    text-align: center;
  }
  
  #project_description {
     display: block;
     width: 100%;
     text-align: center;
     color:#070913;
     background-color: #8393e2;
     min-height: 500px;
  }
  
  #navbar{
    background-color: #070913;
  }
  
  .navbar i{
    padding-left: 15px;
  }
  
  .head-border{
    border-width: 2%;
    border-style: solid;
    color: #e5e6f0;
  }
  
  .face{
    width:10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .center{
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
  
  .card{
    text-align: center;
    margin: auto;
    background: transparent;
    border: none;
  }
  
  .card-body{
    background: transparent;
    color: #e5e6f0;
    margin: 10px;
  }
  
  #video-section{
    display: block;
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 600px;
    text-align: center;
    background-color: #070913;
    color: #e5e6f0;
  }
  
  
  /* mission  */
  #mission-section{
    display: block;
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 600px;
    text-align: center;
    background-color: #070913;
    color: #e5e6f0;
  }
  
  #mission-section p{
    text-align: center;
    padding: 20;
    font-size: 20px;
    margin: auto;
    color: #e5e6f0;
  }
  
  #mission-section h2{
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #e5e6f0;
  
  }
  
  #learn_more{
    display: block;
    width: 100%;
    background-color: #070913;
  
  }
  
  
  
  /*meet the sponsor carousel*/
  /* mission  */
  #meetSponsor{
    display: block;
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 600px;
    text-align: center;
    background-color: #070913;
  }
  
  #meetSponsor p{
    text-align: center;
    padding: 20;
    font-size: 20px;
    margin: auto;
    color: #e5e6f0;
  }
  
  #meetSponsor h2{
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #e5e6f0;
  
  }
  
  /*  team  */
  #team-section{
    display: block;
    width: 100%;
    text-align: center;
    margin: 40px 0;
    color: #e5e6f0;
    background-color: #212529;
    min-height: 500px;
    padding-bottom: 50px;
  }
  
  .team-description{
    font-size: 20px;
    text-decoration: underline;
  }
  
  .team-roles{
    font-size: 15px;
  }
  
  .emails{
    font-size: 12px;
  }
  
  #team-section h2{
    padding: 60px 0px 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
  
  }
  
  .headShots{
    padding: 50px;
    max-width: 300px;
    max-height: 250px;
    border-radius: 50%;
  }
  
  
  /*sponsor*/
  .sponsor{
    background-color: #070913;
    color: #e5e6f0;
    margin: 0px;
    padding: 0px;
  }
  
 
  
  /* Documents */
  #documents-section {
    display: block;
    width: 100%;
    text-align: center;
    color: #e5e6f0;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 600px;
    background-color: #070913;
  }
  
  #documents-section i{
    font-size: 20px;
  }
  
  #documents-section h2{
    padding: 20px;
  }
  
  .icon{
    margin-top: 50px;
  }
  
  #documents-section a{
    text-decoration: none;
    color: #e5e6f0;
  }
  
  #documents-section p{
    text-decoration: none;
    color: #e5e6f0;
  }
  
  #documents-section i:hover{
    color: #8393e2;
  }
  
  .row i{
    font-size: 60px;  
  }
  
  #documents-section i{
    font-size: 50px;
  }
  
  #documents-section h2{
    padding: 60px 0px 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
  
  }
  
  /*footer*/
  #footer-section{
    color: #e5e6f0;
  }
  
  #footer-nav {
     background-color: #070913;
     display: flex;
  }
  
  #footer-logo {
     padding: 2%;
  }
  
  #footer-logo img {
     width: 50px;
     height: 50px;
  }
  
  #footer-base {
     background-color: #070913;
     min-height: 80px;
     display: flex;
     align-items: center;
     margin: 0;
     justify-content: center;
  }
  
  #footer-base span {
     padding-left: 3%;
     padding-right: 3%;
     font-size: 13px;
  }
  
  #footer-base a {
     padding:20px;
  }
  
  .footer-container {
     padding-left: 50px;
     align-items: center;
     display: flex;
  }
  
  .footer-column {
     padding: 15%;
     flex: 1;
     white-space: nowrap;
  }
  
  .footer-column ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
  }
  
  .footer-column h3 {
     padding-bottom: 20px;
  }
  
  
  .button {
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    color: #e5e6f0;
    text-decoration: none;
    background: #070913;
    border: 2px solid #e5e6f0;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  
  .button:hover {
    transform: scale(1.05);
    background: #2347fb;
  }
  
  @media (max-width: 600px) {
     .footer-container {
        align-items: center;
        display: inline-block;
     }
     .footer-column {
        white-space: nowrap;
     }
     #video_spacer {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
     }
     
     #video_spacer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
     }
   }
  
   #description {
     margin-top: 50px;
     padding: 50px;
     min-height: 100px;
     background-color: #282A2A;
     color: #e5e6f0;
   }
  
   #description h1 {
     padding-bottom: 60px;
   }
  
   #description h3 {
     text-decoration: underline;
   }
  
   #description a{
     color: #e5e6f0;
     text-decoration: underline;
   }
  
   .image_container {
     width: 100%;
  
   }
  
   #description img{
     max-width: 100%;
   }
  
   #background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(images/description_background.png);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
   }
  
   #documents {
     margin-top: 50px;
     padding: 50px;
     min-height: 100px;
     background-color: #070913;
     color: #e5e6f0;
   }
  
   #documents h1 {
     padding-bottom: 60px;
   }
  
   #documents h2 {
     padding-top: 20px;
     padding-bottom: 10px;
     font-size: 24px;
     text-decoration: underline;
   }
  
   #documents h3 {
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 20px;
   }
  
   #documents a{
     color: #e5e6f0;
     text-decoration: underline;
   }
  
   #doc_background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(./images/documents_background.jpg);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
   }
  
   #myIframe1,#myIframe2,#myIframe3,#myIframe4,#myIframe5,#myIframe6,#myIframe7,#myIframe8,
   #myIframe9, #myIframe10, #myIframe11, #myIframe12, #myIframe13, #myIframe14{
    display: none;
    width: 100%;
    height: 600px;
   }
  
   #iframe_button{
    background-color: #e5e6f0;
    color: #070913;
   }
  
   #iframe_button:hover{
      background-color: #2347fb;
      color: 070913;
      transform: scale(1.1);
   }
  
   #schedule{
     padding: 50px;
     min-height: 100px;
     background-color: #8393e2;
   }
  
   #schedule h1 {
     padding-bottom: 60px;
   }
  
   #schedule a{
     color: #070913;
     text-decoration: underline;
   }
  
   .image_container {
     width: 100%;
  
   }
  
   #schedule img{
     max-width: 100%;
   }
  
   #sched_background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(./images/schedule_background.jpg);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
     max-height: 400px;
   }
  
   #sol_background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(./images/solution.jpg);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
     max-height: 400px;
   }
  
   #req_background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(./images/requirements_back.jpg);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
     max-height: 400px;
   }
  
   #tech_background_image {
     background-image: 
      linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
      url(./images/technologies.jpg);
     background-size: cover;
     background-position: center;
     width: 100%;
     padding: 20%;
     max-height: 400px;
   }
  
   .gray {
     color: #8393e2;
   }
  
   .dates-2 {
     color: #8393e2;
   }
  
   .image-container{
     position: relative;
     display: inline-block;
   }
  
   .image-container img{
     display: block;
     width: 100%;
     height: auto;
   }
  
   .gradient {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.842));
   }
  
   .pad-bottom {
     padding-bottom: 20px;
   }
  
   hr {
    border: 0; 
    height: 5px; 
    background: linear-gradient(to right, #ccc, #2347fb, #ccc); 
    margin: 20px 0;
  }
  
  .dropdown-menu{
    background-color: #070913;
  }
  .dropdown-item{
    background-color:#070913 ;
    color: lightgray;
  }
  
  .dropdown-item:hover{
    background-color: #070913;
  }
  
  .footer-column a:hover{
    color: #2347fb;
  }
  
  #red-link:hover{
    color: #2347fb;
  }